services:
  # ================================
  # BACKEND (Node.js)
  # ================================
  - type: web
    name: ewaste-backend
    env: node
    plan: starter
    repo: https://github.com/Jashnoor-gill/E-waste
    root: backend
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: MODEL_SERVICE_URL
      - key: ADMIN_TOKEN
      - key: DEVICE_TOKENS

  # ================================
  # MODEL SERVICE (Python)
  # ================================
  - type: web
    name: model-service
    env: python
    plan: standard
    repo: https://github.com/Jashnoor-gill/E-waste
    root: backend/model_service
    buildCommand: >
      /opt/render/project/src/.venv/bin/python -m pip install --upgrade pip setuptools wheel &&
      /opt/render/project/src/.venv/bin/python -m pip install --no-cache-dir --index-url https://download.pytorch.org/whl/cpu
      "torch==2.5.1+cpu" "torchvision==0.20.1+cpu" &&
      /opt/render/project/src/.venv/bin/python -m pip install --no-cache-dir -r requirements.txt
    envVars:
      - key: MODEL_PATH
      - key: PORT
